---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
  
.post-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-date {
  margin-right: 0.5em;
}
  
.post-tag-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.post-tag {
  display: inline-block;
  border-radius: 0.25em;
  margin: 0.25em;
  margin-left: 0;

  &:hover {
    text-decoration: none;
  }
}

.post-tag-content {
  font-size: $small-font-size; 
  display: flex;
  align-items: center;
  padding: 0em 0.0em 0.0em 0.5em;
}

.post-tag-icon {
  font-size: $small-font-size !important;
  color: $lm-link-base-color;
  line-height: 0;
}

.info {
  display: flex;
  background: $lm-code-background-color;
  border-radius: 0.25em;
  margin: 0 0 1em 0;
  padding: 0.5em 0.75em;
}
